Meta
doc
*.o
*.so
*.bbl
*.log
*.toc
*._*
*.DS_Store
.Rproj.user
*.Rhistory
*.Rproj
README.html
src/*rds
inst/script/*
!inst/script/extdata.Rmd
vignettes/*
!vignettes/BANDITS.Rmd
!vignettes/References.bib
